<div class="ui-columns ui-columns--half">
    <div class="ui-half ui-half--highlight">
        <div class="ui-logo">
            Elemental
        </div>
        <div class="ui-feature">
            <div class="ui-feature-image ui-feature-image--register"></div>
        </div>
    </div>
    <div class="ui-half">
        <div class="ui-restricted--thin">
            <div class="ui-header">
                <h1 class="ui-header-text">Create your account</h1>
            </div>

            <div class="ui-intro">
                <p class="ui-intro-text">
                    Please provide the following details to create your account
                </p>
            </div>

            <% if (duplicate) { %>
                <div class="ui-alert ui-alert--error">
                    An account with that username already exists.
                </div>
            <% } %>

            <% if (passwordError) { %>
                <div class="ui-alert ui-alert--error">
                    <%= passwordError %>
                </div>
            <% } %>

            <form autocomplete="off" action="/interaction/<%= uid %>/register" method="post">
                <div class="ui-input-field">
                    <label class="ui-input-field-label" for="username">
                        Your email address
                    </label>

                    <input
                        class="ui-input-field-input"
                        type="text"
                        name="login"
                        id="username"
                        placeholder="Enter your email address"
                        autofocus="on"
                        value="<%= details.username %>"
                    >
                </div>

                <div class="ui-input-field">
                    <label class="ui-input-field-label" for="password">
                        Password
                    </label>

                    <% if (passwordHelpers && passwordHelpers.length > 0) { %>
                        <%- include('partials/passwordHelpers.ejs', {
                            helpers : passwordHelpers,
                            selector : '#password'
                        }) %>
                    <% } %>

                    <input
                        class="ui-input-field-input"
                        id="password"
                        type="password"
                        name="password"
                        placeholder="and password"
                    >
                </div>

                <div class="ui-button-wrapper">
                    <button type="submit" class="ui-button ui-button--primary">Create Account</button>
                </div>
            </form>

            <div class="ui-text ui-text--center">
                Already have an account? <a href="/interaction/<%= uid %>/login">Sign in now</a>
            </div>
        </div>
    </div>
</div>